nav{
    background-color:#222831;
    padding:4px;
    margin-top:-7px;
    margin-left:-5px;
    width:100%;

}

nav h1{
    font-size:35px;
    color:white;
    margin-left:410px;
    padding:10px;

}