.title{
    margin-left:50px;
    margin-top:10px;
}

.table{
    margin-top:50px;
    margin-bottom:20px;
    width:80%;
    margin-left:120px;
}

.back{
    margin-left:600px;
    margin-top:20px;
}