<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div th:insert="~{header::header}"></div>
    <a th:href="@{addcustomer}" class="btn btn-primary add_cust">
        Add Customer
    </a>
    <a th:href="@{items}" class="btn btn-success add_item">
        Items
    </a>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Customer Name</th>
                <th>Customer Contact</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            <tr th:each="a:${customers}">
                <td th:text="${a.name}"></td>
                <td th:text="${a.contact}"></td>
                <td>
                    <a th:href="@{shop(customer=${a.name})}" class="btn btn-info">
                        Shop
                    </a>
                    <a th:href="@{updcust(customer=${a.name})}" class="btn btn-primary">
                        Update Customer
                    </a>
                    <a th:href="@{delcust(customer=${a.name})}" class="btn btn-danger">
                        Delete Customer
                    </a>
                </td>
            </tr>

        </tbody>
    </table>
    <div th:insert="~{footer::footer}"></div>
</body>
</html>