<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/printbill.css}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="~{header::header}"></div>
<h2 th:inline="text" class="title">Customer Name : [[${customer.name}]] &nbsp;  Contact : [[${customer.contact}]]</h2>

<hr>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="a:${basket}">
            <td th:text="${a.key.name}"></td>
            <td th:text="${a.key.price}"></td>
            <td th:text="${a.value}"></td>
            <td th:with="result=${a.key.price}*${a.value}">
                <span th:inline="text">[[${result}]]</span>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="font-size:20px;text-align:center;">
                Total Amount to pay
            </td>
            <td th:text="${total}">

            </td>
        </tr>
    </tbody>
</table>
<a th:href="@{shop(customer=${customer.name})}" class="btn btn-dark back">
    Back
</a>
</body>
</html>